@{
    ViewBag.Title = "Tienda - Electrónios S.A.";
}

<div class="contenedor">
    <h1>Bienvenidos a "Electrónicos S.A."</h1>
    <div class="contenedor_secundario">
        <div class="subtitulo1">
            <h2>
                Todo lo que <br>
                necesitas para tus <br>
                proyectos
            </h2>
        </div>
        <div class="imgComponente">
            <img src="https://www.jmsemiconductores.com/sites/default/files/inline-images/categoria-componentes-electronicos.png" alt="Componentes electrónicos">
        </div>
        <div class="subtitulo2">
            <h2>
                Lo enviamos hasta <br>
                la puerta de tu <br>
                casa
            </h2>
        </div>
    </div>
</div>